apiVersion: v1
kind: Secret
metadata:
  name: "perun-apache-secret-etc-perun-apache-maintenance-{{ idx }}"
  namespace: "{{ k8s_namespace }}"
  annotations:
    field.cattle.io/description: "mounted into /etc/perun/apache/maintenance"
type: Opaque
data:
  "{{ file_name }}": "{{ file_content }}"
