apiVersion: v1
kind: Secret
metadata:
  name: "perun-apache-secret-etc-perun-apache-shibboleth"
  namespace: "{{ k8s_namespace }}"
  annotations:
    field.cattle.io/description: "mounted as a dir with files into /etc/perun/apache/shibboleth"
type: Opaque
data:
  {{ etc_perun_apache_shibboleth_secret_data | to_nice_yaml(default_style="\"",sort_keys=true,indent=2) | indent(2) }}
