apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: perun-apache
  name: "perun-apache-deployment"
  namespace: "{{ k8s_namespace }}"
  annotations:
    field.cattle.io/description: "the Perun Apache web server"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: perun-apache
  template:
    metadata:
      annotations:
        field.cattle.io/description: "a perun-apache pod"
        kubectl.kubernetes.io/default-container: "perun-apache-container"
      labels:
        app: perun-apache
    spec:
      imagePullSecrets:
        - name: gitlab-cesnet-secret
      # Pod security context
      securityContext:
        runAsNonRoot: true
        runAsUser: 33
        runAsGroup: 33
        fsGroup: 33
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault
      # list of containers
      containers:
        - name: "perun-apache-container"
          image: "{{ perun_container_registry }}/perun_apache:{{ perun_apache_container_version }}"
          imagePullPolicy: Always
          {%- if perun_apache_k8s_debug +%}
          command: [ "/bin/bash", "-c" ]
          args: [ "sleep infinity" ]
          {%- endif +%}
          # Container security context
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: false
            capabilities:
              drop: [ "ALL" ]
          # environment variables
          env:
            # set timezone
            - name: TZ
              value: "Europe/Prague"
            # HTTP proxy
            - name: HTTPS_PROXY
              value: "http://proxy.muni.cz:3128"
          # limits on CPU and memory
          resources:
            requests:
              cpu: "{{ perun_apache_requests_cpu }}"
              memory: "{{ perun_apache_requests_mem }}"
            limits:
              cpu: "{{ perun_apache_limits_cpu }}"
              memory: "{{ perun_apache_limits_mem }}"
          ports:
            - containerPort: 80
              name: http
              protocol: TCP
            - containerPort: 443
              name: https
              protocol: TCP
          # mounted volumes
          volumeMounts:
            - name: apache-certs
              mountPath: /etc/perun/ssl/hostkey.pem
              subPath: tls.key
            - name: apache-certs
              mountPath: /etc/perun/ssl/hostfullchain.pem
              subPath: tls.crt
            - name: apache-run
              mountPath: /var/run/apache2
            - name: apache-log
              mountPath: /var/log/apache2
            - name: www-html
              mountPath: /var/www/html
            - name: etc-perun-apache
              mountPath: /etc/perun/apache
            - name: etc-perun-apache-img
              mountPath: /etc/perun/apache/img
            - name: etc-perun-apache-maintenance
              mountPath: /etc/perun/apache/maintenance
            - name: tmpfs
              mountPath: /tmp
              readOnly: false
      volumes:
        - name: tmpfs
          emptyDir:
            medium: Memory
        - name: apache-certs
          secret:
            secretName: {{ perun_apache_certificate_name }}
        - name: apache-run
          emptyDir: {}
        - name: apache-log
          emptyDir: {}
        - name: www-html
          emptyDir: {}
        - name: etc-perun-apache
          secret:
            secretName: "perun-apache-secret-etc-perun-apache"
            items:
              {{ etc_perun_apache_secret_volume_items | to_nice_yaml(indent=2) | indent(14) }}
        - name: etc-perun-apache-img
          secret:
            secretName: "perun-apache-secret-etc-perun-apache-img"
            items:
              {{ etc_perun_apache_img_secret_volume_items | to_nice_yaml(indent=2) | indent(14) }}
        - name: etc-perun-apache-maintenance
          emptyDir: {}
      # unarchive maintenance.tar.xz
      initContainers:
        - name: unarchive-maintenance
          image: busybox
          command: [  'sh', '-c', 'cd /dest-dir/ ; tar xJvf /src-dir/maintenance.tar.xz' ]
          volumeMounts:
            - name: etc-perun-apache
              mountPath: /src-dir
            - name: etc-perun-apache-maintenance
              mountPath: /dest-dir
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop: [ "ALL" ]