apiVersion: v1
kind: Secret
metadata:
  name: "perun-rpc-secret-etc-perun"
  namespace: "{{ k8s_namespace }}"
  annotations:
    field.cattle.io/description: "mounted as a dir with files into /etc/perun"
type: Opaque
data:
  {{ etc_secret_data | to_nice_yaml(default_style="\"",sort_keys=false,indent=2) | indent(2) }}
