apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: perun-rpc
  name: "perun-rpc-deployment"
  namespace: "{{ k8s_namespace }}"
  annotations:
    field.cattle.io/description: "the Perun RPC"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: perun-rpc
  template:
    metadata:
      annotations:
        field.cattle.io/description: "a perun-rpc pod"
      labels:
        app: perun-rpc
    spec:
      imagePullSecrets:
        - name: gitlab-cesnet-secret
      # Pod security context
      securityContext:
        fsGroupChangePolicy: OnRootMismatch
        runAsNonRoot: true
        runAsUser: 961
        runAsGroup: 961
        seccompProfile:
          type: RuntimeDefault
      # list of containers
      containers:
        - name: "perun-rpc-container"
          image: "{{ perun_container_registry }}/perun_rpc:{{ perun_rpc_container_version }}"
          imagePullPolicy: Always
          {%- if perun_rpc_k8s_debug +%}
          command: [ "/bin/bash", "-c" ]
          args: [ "sleep infinity" ]
          {%- endif +%}
          # Container security context
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop: [ "ALL" ]
          # environment variables
          env:
            # set timezone
            - name: TZ
              value: "Europe/Prague"
            # HTTP proxy
            - name: JAVA_TOOL_OPTIONS
              value: "-Dhttp.proxyHost=proxy.muni.cz -Dhttp.proxyPort=3128"
          # limits on CPU and memory
          resources:
            requests:
              cpu: "{{ perun_rpc_requests_cpu }}"
              memory: "{{ perun_rpc_requests_mem }}"
            limits:
              cpu: "{{ perun_rpc_limits_cpu }}"
              memory: "{{ perun_rpc_limits_mem }}"
            # probes
            #                  readinessProbe:
            #                      httpGet:
            #                          path: /actuator/health/readiness
            #                          port: 8081
            #                  livenessProbe:
            #                      httpGet:
            #                          path: /actuator/health/liveness
            #                          port: 8081
          # mounted volumes
          volumeMounts:
            - name: tmp-volume
              mountPath: /tmp
            - name: "log-volume"
              mountPath: /var/log/perun
              readOnly: false
            - name: "volume-etc-perun"
              mountPath: /etc/perun
            - name: "volume-home-perun-writable"
              mountPath: /home/perun
      # volumes (defined for all containers in a pod)
      volumes:
        - name: tmp-volume
          emptyDir: {}
        - name: "log-volume"
          persistentVolumeClaim:
            claimName: perun-rpc-persistent-volume-claim-logs
        - name: "volume-etc-perun"
          secret:
            secretName: "perun-rpc-secret-etc-perun"
            items:
              {{ perunrpc_etc_secret_volume_items | to_nice_yaml(indent=2) | indent(14) }}
        - name: "volume-home-perun-secret"
          secret:
            secretName: "perun-rpc-secret-home-perun"
            defaultMode: 0755
            items:
              {{ perunrpc_home_secret_volume_items | to_nice_yaml(indent=2) | indent(14) }}
        - name: "volume-home-perun-writable"
          emptyDir: {}
      # copy files for /home/perun from read-only Secret to writable empty directory
      initContainers:
        - name: copy-home
          image: busybox
          command: [ 'sh', '-c', 'cp -rL /src-secret/. /dest-dir/' ]
          volumeMounts:
            - name: volume-home-perun-secret
              mountPath: /src-secret
            - name: volume-home-perun-writable
              mountPath: /dest-dir
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop: [ "ALL" ]