apiVersion: v1
kind: Secret
metadata:
  name: "perun-rpc-secret-etc-perun-modules"
  namespace: "{{ k8s_namespace }}"
  annotations:
    field.cattle.io/description: "mounted as a dir with files into /etc/perun/modules"
type: Opaque
data:
  {%- for i in modules +%}
  {{ i | basename }}: "{{ lookup('ansible.builtin.file', i) | b64encode }}"
  {%- endfor +%}
