apiVersion: v1
kind: Secret
metadata:
  name: "perun-rpc-secret-etc-perun"
  namespace: "{{ k8s_namespace }}"
  annotations:
    field.cattle.io/description: "mounted as a dir with files into /etc/perun"
type: Opaque
data:
  server.xml: "{{ lookup('ansible.builtin.template', 'perun/server.xml.j2') | b64encode }}"
  jdbc.properties: "{{ lookup('ansible.builtin.template', 'perun/jdbc.properties.j2') | b64encode }}"
  perun-apps-config.yml: "{{ lookup('ansible.builtin.template', 'perun/perun-apps-config.yml.j2') | b64encode }}"
  perun-roles.yml: "{{ lookup('ansible.builtin.template', 'perun/perun-roles.yml.j2') | b64encode }}"
  perun-web-gui.properties: "{{ lookup('ansible.builtin.template', 'perun/perun-web-gui.properties.j2') | b64encode }}"
  perun.properties: "{{ lookup('ansible.builtin.template', 'perun/perun.properties.j2') | b64encode }}"
  logback.xml: "{{ lookup('ansible.builtin.template', 'perun/logback.xml.j2') | b64encode }}"
  perun-registrar-lib.properties: "{{ lookup('ansible.builtin.template', 'perun/perun-registrar-lib.properties.j2') | b64encode }}"
  perun-dispatcher.properties: "{{ lookup('ansible.builtin.template', 'perun/perun-dispatcher.properties.j2') | b64encode }}"
  perun-namespaces.properties: "{{ lookup('ansible.builtin.template', 'perun/perun-namespaces.properties.j2') | b64encode }}"
  perun-extSources.xml: "{{ lookup('ansible.builtin.file', lookup('ansible.builtin.first_found', files=['perun-extSources.xml'], paths=['files/'+ perun_instance_hostname, 'files/perun/' ])) | b64encode }}"
  login-namespaces-rules-config.yml: "{{ lookup('ansible.builtin.file', lookup('ansible.builtin.first_found', files=['login-namespaces-rules-config.yml'], paths=['files/'+ perun_instance_hostname, 'files/perun/' ])) | b64encode }}"
  {%- if tomcat_init.stat.exists +%}
  tomcat_init.sh: "{{ lookup('ansible.builtin.file', 'files/'+ perun_instance_hostname +'/tomcat_init.sh') | b64encode }}"
  {%- endif +%}
  {%- if perun_oidc_config.stat.exists +%}
  perun-oidc-config.yml: "{{ lookup('ansible.builtin.file', 'files/'+ perun_instance_hostname +'/perun-oidc-config.yml') | b64encode }}"
  {%- endif +%}
