apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata:
  name: "{{ perun_certificate_name }}"
  namespace: "{{ k8s_namespace }}"
  annotations:
    field.cattle.io/description: "TLS certificate created by Ansible"
data:
  tls.crt: {{ perun_certificate_fullchain_b64 }}
  tls.key: {{ perun_certificate_privkey_b64 }}
